<a href="https://colab.research.google.com/github/joybratas1/Python_Assignment_Neeraj/blob/main/Python_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

** pgdba_cds2018_assignment_1

Answer 1

In [2]:
print ("enter your Name:")
x= input()
print("\n")
print("Hey! " + x + " welcome to the Python World")

enter your Name:
Neeraj


Hey! Neeraj welcome to the Python World

Answer 2

In [9]:
x,y= input("Enter the 2 Numbers: ").split()
print("\nThe first number is {} and second number is {} .".format(x,y))
if(x<y):
  print("True")

Enter the 2 Numbers: 2 4

The first number is 2 and second number is 4 .
True

Answer 3 and 4

In [42]:
#x,y,z= input("Enter the 3 Numbers: ").split()   you can use split() also
a, b, c= [int(x) for x in input("Enter the 3 Numbers :").split()]
print("\nThe numbers are {}, {} and {} for 3rd Answer".format(a,b,c))
#For 3rd Answer use this if-
if(a<b and a<c):
  print("True")

#for 4th Answer Just remove the  # from below

#a, b, c= [int(x) for x in input("Enter the 3 Numbers :").split()]
#print("\nThe numbers are {}, {} and {} for 4th Answer".format(a,b,c))

#if(a<b or a<c):
  #print("True")

Enter the 3 Numbers :4 10 9

The numbers are 4, 10 and 9 for 3rd Answer
True
<class 'int'>

Answer 5

In [49]:

p, q, r= input("Enter the 3 Numbers").split()
and_op = int(p) & int(q)  #Bitwise & Operation
print("\nThe Bitwise AND Operation on {} {} gives: {} ".format(p, q, and_op) )

Enter the 3 Numbers4 10 15

The Bitwise AND Operation on 4 10 gives: 0

In [53]:
#Two's Complement
# Returns '0' for '1' and '1' for '0'
def flip(c):
    return '1' if (c == '0') else '0'
 
# Print 1's and 2's complement of
# binary number represented by "bin"
def printOneAndTwosComplement(bin):
 
    n = len(bin)
    ones = ""
    twos = ""
     
    # for ones complement flip every bit
    for i in range(n):
        ones += flip(bin[i])
 
    # for two's complement go from right
    # to left in ones complement and if
    # we get 1 make, we make them 0 and
    # keep going left when we get first
    # 0, make that 1 and go out of loop
    ones = list(ones.strip(""))
    twos = list(ones)
    for i in range(n - 1, -1, -1):
     
        if (ones[i] == '1'):
            twos[i] = '0'
        else:        
            twos[i] = '1'
            break
 
    i -= 1   
    # If No break : all are 1 as in 111 or 11111
    # in such case, add extra 1 at beginning
    if (i == -1):
        twos.insert(0, '1')
 
    #print("1's complement: ", *ones, sep = "")
    print("2's complement: ", *twos, sep = "")
def decimalToBinary(n):
    return "{0:08b}".format(int(n))    
# Driver Code
if __name__ == '__main__':
    new= decimalToBinary(r)
    bin = str(new)
    print("The 2's Complement of {} with binary equivalent {} is- :".format(r,new))    
    printOneAndTwosComplement(bin.strip(""))

The 2's Complement of 15 with binary equivalent 00001111 is- :
2's complement: 11110001

Answer 6

In [81]:
n = int(input("Enter the non-negative input"))
while(int(n)<=0):
  print("Enter the number again:")
  n=int(input())
print("\nThe operations on {} are:".format(n))
print("(i) 10th Root of {} is: {}".format(n,round((n**(1/10)),3)))
print("(ii) Square Root of {} is: {}".format(n,round((n**(1/2)),3)))
print("(iii) N is:", n)
print("(iv) Square of {}: {}".format(n,(n**2)))
print("(v) Cube of {} : {}".format(n,(n**3)))
print("(vi) 2 to the power {} is : {}".format(n,(2**n)))
print("(vii) 10 to the power {} is : {}".format(n,(10**n)))

Enter the non-negative input10

The operations on 10 are:
(i) 10th Root of 10 is: 1.259
(ii) Square Root of 10 is: 3.162
(iii) N is: 10
(iv) Square of 10: 100
(v) Cube of 10 : 1000
(vi) 2 to the power 10 is : 1024
(vii) 10 to the power 10 is : 10000000000

Answer 7

In [128]:
import pandas as pd
import datetime
from datetime import date

In [129]:
year_1, year_2 = (input('Enter The two years').split())
month_1, month_2 = (input('Enter two months between 1-12').split())
day_1, day_2 = (input('Enter two  days between 1-31:').split())
date1 = datetime.datetime(int(year_1), int(month_1), int(day_1))
date2 = datetime.datetime(int(year_2), int(month_2), int(day_2))

days = date2 - date1
dt = pd.to_datetime(date1, format='%Y/%m/%d')
dt1 = pd.to_datetime(date2, format='%Y/%m/%d')


print("The total Number of Days in between the two Days are:")
(dt1-dt).days

Enter The two years2019 2020
Enter two months between 1-1212 1
Enter two  days between 1-31:31 31
The total Number of Days in between the two Days are-:

31




.

## pgdba_cds2018_assignment_2

Answer 1

In [138]:
n = input("Enter the Number:")
while(int(n)<0):
  print("Enter the number again:")
  n=int(input())
print("The Binary equivalent is {0:b}".format(int(n)))

Enter the Number:5
The Binary equivalent is 101

Answer 2

In [151]:
str_1 = input("Enter the String: ")
print(str_1)
dict_1 = {}
for i in str_1:
    if i in dict_1:
        dict_1[i] += 1
    else:
        dict_1[i] = 1
max_char = max(dict_1, key = lambda x: dict_1[x] )
print(max_char, dict_1[max_char])

Enter the String: neerajkashyap
neerajkashyap
a 3

Answer 3

In [168]:
def isPalindrome(s):
  for i in range(0, int(len(s)/2)):

        
    if s[i] != s[len(s)-i-1]:
      return False
    return True
if __name__ == '__main__':
  new=input("Enter the 1st String:  ")
  new_2= input("Enter the Second String:  ")
  if(isPalindrome(new)==isPalindrome(new_2)):
    print("True")
  else:
    print("False")

Enter the 1st String:  MALAYALAM
Enter the Second String:  MALAYALAM
True

Answer 4

In [180]:
marks = int(input("Please Enter the Marks: "))
while(int(marks)<0):
  marks = input("Enter the Number again")
  #print(marks)

if(marks in range(90, 101)):
  print("A")
elif(marks in range(80, 90)):
  print("B")
elif(marks in range(70, 80)):
  print("C")
elif(marks in range(60, 70)):
  print("D")
elif(marks in range(50, 60)):
  print("E")
else:
  print("F")

Please Enter the Marks: 95
A

Answer 5